.modal.fade.bd-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered.modal-lg
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Please Log in
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}
      .modal-body
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name), remote: true) do |f|
          .form-inputs
            = f.input :email,
              required: false,
              autofocus: true,
              input_html: { autocomplete: "email" }
            = f.input :password,
              required: false,
              input_html: { autocomplete: "current-password" }
            = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
          .modal-footer
            = f.button :submit, "Log in", class: "btn btn-primary"
